/*

Colors you are allowed to use for this presentation (for reasons of consistency)
The first color is always used for text, or elements that need to pop on the black background
The second color, darker, is used for text shadows or backgrounds
If only one variant is listed, use your ducking eyes to tell if it's light or dark.

RED:
    #ff8a80
    #c85a54
PINK:
    #e91e63
    #b0003a
PURPLE:
    #6200EE
DEEP PURPLE:
    #7c4dff
    #6200ea
LIGHT BLUE:
    #69e2ff
CYAN:
    #18ffff
TEAL:
    #1de9b6
    #00b686
SWAMP GREEN:
    #76ff03
    #32cb00
ORIGIN ORANGE:
    #ff3d00

*/

/*
    staging colors, di Luciano
    #ed1c23
    #5e02de
    #00aa7a
*/