/* Animated text fills with svg: https://codepen.io/cesar2535/pen/ByYXpN */
  
/* Main styles */
 .text {
	 fill: none;
	 stroke-width: 3;
	 stroke-linejoin: round;
	 stroke-dasharray: 70 330;
	 stroke-dashoffset: 0;
	 -webkit-animation: stroke 6s infinite linear;
	 animation: stroke 6s infinite linear;
}
 .text:nth-child(5n + 1) {
	 stroke: #f2385a;
	 -webkit-animation-delay: -1.2s;
	 animation-delay: -1.2s;
}
 .text:nth-child(5n + 2) {
	 stroke: #f5a503;
	 -webkit-animation-delay: -2.4s;
	 animation-delay: -2.4s;
}
 .text:nth-child(5n + 3) {
	 stroke: #e9f1df;
	 -webkit-animation-delay: -3.6s;
	 animation-delay: -3.6s;
}
 .text:nth-child(5n + 4) {
	 stroke: #56d9cd;
	 -webkit-animation-delay: -4.8s;
	 animation-delay: -4.8s;
}
 .text:nth-child(5n + 5) {
	 stroke: #3aa1bf;
	 -webkit-animation-delay: -6s;
	 animation-delay: -6s;
}
 @-webkit-keyframes stroke {
	 100% {
		 stroke-dashoffset: -400;
	}
}
 @keyframes stroke {
	 100% {
		 stroke-dashoffset: -400;
	}
}

/* Terminal Text Effect https://codepen.io/Tbgse/pen/dYaJyJ */

.hidden {
  opacity:0;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/* Simple Text Glitch */

.glitch {
    animation: text-shadow 1.5s ease-in-out infinite;
	line-height: 1;
	display: inline-block;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}