/* Vertically rotating text: https://codepen.io/JacobStone420/pen/dyEvl*/
  
.Iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

/* Animated text fills with svg: https://codepen.io/cesar2535/pen/ByYXpN */
  
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
/* Main styles */
 .text {
	 fill: none;
	 stroke-width: 3;
	 stroke-linejoin: round;
	 stroke-dasharray: 70 330;
	 stroke-dashoffset: 0;
	 -webkit-animation: stroke 6s infinite linear;
	 animation: stroke 6s infinite linear;
}
 .text:nth-child(5n + 1) {
	 stroke: #f2385a;
	 -webkit-animation-delay: -1.2s;
	 animation-delay: -1.2s;
}
 .text:nth-child(5n + 2) {
	 stroke: #f5a503;
	 -webkit-animation-delay: -2.4s;
	 animation-delay: -2.4s;
}
 .text:nth-child(5n + 3) {
	 stroke: #e9f1df;
	 -webkit-animation-delay: -3.6s;
	 animation-delay: -3.6s;
}
 .text:nth-child(5n + 4) {
	 stroke: #56d9cd;
	 -webkit-animation-delay: -4.8s;
	 animation-delay: -4.8s;
}
 .text:nth-child(5n + 5) {
	 stroke: #3aa1bf;
	 -webkit-animation-delay: -6s;
	 animation-delay: -6s;
}
 @-webkit-keyframes stroke {
	 100% {
		 stroke-dashoffset: -400;
	}
}
 @keyframes stroke {
	 100% {
		 stroke-dashoffset: -400;
	}
}

/* Terminal Text Effect */

.hidden {
  opacity:0;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}