@font-face {
    font-family: "Cascadia Code";
    src: url("../font/CascadiaCode-Regular.ttf");
}

#l-1{
    transition: all 0.75s;
}

#l-2{
    margin-left: 25%;
    transition: all 0.75s ease;
}

.v-wrapper{
    display: inline-block;
    white-space: nowrap;
}

.v-wrapper .fragment{
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
}

.slow{
    transition: all 1s;
}

.insertion {
    background-color: #b7f8ab;
    color: #343533;
    margin-top: 10px;
    margin-bottom: 10px;
}

.deletion {
    background-color: #ef9f9d;
    color: #343533;
    margin-top: 10px;
    margin-bottom: 10px;
}

.terminal-box .insertion {
    padding-left: 10px;
}

.terminal-box .deletion {
    padding-left: 10px;
}

.fragment-stack {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.fragment-stack .fragment{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}