@font-face {
    font-family: "Cascadia Code";
    src: url("font/CascadiaCode-Regular.ttf");
}

#l-1{
    transition: all 0.75s;
}

#l-2{
    margin-left: 25%;
    transition: all 0.75s ease;
}

.v-wrapper{
    display: inline-block;
    white-space: nowrap;
}

.v-wrapper .fragment{
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
}

.slow{
    transition: all 1s;
}
