/* Layout */

.twocolumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.threecolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.fivecolumns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.green-list>li>h3 {
    color: #76ff03;
}

.pink-list>li>h3 {
    color: #e91e63;
}

.grid-img {
    max-width: 100% !important;
    max-height: none !important;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Effects and colours*/

.color-blue {
    color: #2962ff;
}

/* Components */

#typed {
    display: inline;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.5s infinite;
    -moz-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Terminal */

.terminal-box {
    background-color: #252724;
    border-radius: 10px;
    box-shadow: 5px 5px 14px 0px rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
}

/* Simple image */

.def-img {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
}

.inverted {
    filter: brightness(0) invert(1)
}